html{
    font-family: 'Catamaran', sans-serif;
}

body{
    margin:0;
    background-color: #efefef;
}
header{
    background-color: #accfee;
    color: white;
    padding: 3rem;
}

header h1{
    font-size: 4rem;
    text-align: center;
}

.container{
    margin: 2rem 50 auto;
}
.inline-block{
    display: inline-block;
    height: 55px;
}

section h2{
    margin: 1rem;
}
section p{
    margin: 0.25rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,td {
    border: solid 1px ;
    padding: 5px;
}

th{
    background-color: tomato;
    color: white;
    text-align: left;
}
tr:nth-child(even){
    background-color: #eee;
}

footer{
    background-color:#B28B84;
    padding: 3rem;
    color:#fff;
}
footer section{
    float: right;
}

footer p{
    margin: 0;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    color: cornflowerblue;
}